*{box-sizing: border-box;}

.container-fluid{

}
body{
  font-family: 'Lato', sans-serif;
  background: white;
}
body#login, body#register{
  background-color: #f50;
}

article#product{
  margin-bottom: 10px;
}

a, a:hover{
  color:white;
  text-decoration: none;
}

p.card-text{
  color: #f50;
  font-size: 1.5em;
  font-weight: bold;
}

article.card{
  border: none;
}

article.card:last-of-type{

}

div.accordion button{
  color: grey;
}

.btn:focus{
  outline: 0;
  box-shadow: none;
}
.card-body{
  padding-top: 1.5em;
  padding-bottom: 1em;
}
#brands { margin-top: 2rem; }
#brands article {
  text-align: center;
  margin-bottom: 25px;
}

#brands article .icon {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  line-height: 72px;
  color: white;
  background-color: #f50;
  border-radius: 50%;
  margin-bottom: .5rem;
}
#brands article p {
  font-weight: bold;
}
#brands article a {
  text-transform: uppercase;
  color: #f50;
  font-weight: bold;
}
